/*style sheet*/
/* header component */
.header {
    background-color: #3a2d32;
    border: none;
    position: relative;
    width: 100%;  
}
/* navigation buttons container */  
.inline-block {
    display: inline-block;
    padding: 1%;
}
/* logo from image */ 
.logo {
    width: 25%;
    vertical-align: middle;
}    
/* navigation buttons individual with text */ 
.li1, .li2, .li3 {
    color: white;
    display: inline-block;
    padding-right:20px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
    position: relative;
    vertical-align: middle;
    margin: 40px;
 }
/* container for hero image and welcome text */
.heroImgBox{
    width: 100%;
    height: 650;
    position: relative;
    text-align: center;
}
/* container for welcome text */
.textBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
/* welcome text */ 
.h1 { 
    font-family:'Oleo Script', cursive;
    color: white;
     font-size: 64px;
    font-weight: 600;
}
/* container for about me text, resume button, and headshot */
.AboutMe {
    background-color: #3a2d32f5;
    border: none;
    padding: 5%;
    width: 100%;
    height: 750px;
}
.aboutBlock {
    display: inline-block;
}
/* personal headshot image */
.bioImg { 
    width: 35%;
    height: 80%;
    border-radius: 10px;
}
/*container for about me text*/
.aboutMeText {
    width: 56%;
    height: 80%;
}

/* about me text */ 
.h2 {
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
    text-align: left;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 7%;
    padding-right: 7%;
}

/* My skills section coded with CSS flex*/
.skillSection {
    background-color: #3a2d32;
    width: 100%;
    height: 700px;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.skillContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
}
.skillsBox {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: white;
    align-items: space-around;
    width: 250px;
    height: 400px;
}
.skillImg{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    border-radius: 8%;
}
/* my work section coded with CSS grid*/
#myWork{
    background-color: #3a2d32f5;
    height: 900px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#houndDoogle{
    grid-area: houndDoogle;
}
#DotI{
    grid-area: DotI;
} 
#SoS{
    grid-area: SoS;
}
.imageBox{
    grid-area: imageBox;
    align-items: center;
    justify-content: center;
}
.imageBox2{
    grid-area: imageBox2;
    align-items: center;
    justify-content: center;
}
.imageBox3{
    grid-area: imageBox3;
    align-items: center;
    justify-content: center;
}
.workImg{
    border-radius: 10px;
    height: 300px;
    width: 200px;
}
.workGrid{
    margin: 0px 5%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto; 
    grid-template-areas: 'imageBox imageBox2 imageBox3'
                            'houndDoogle DotI SoS';
}
.caseStudyBox{
    font-family: 'Montserrat', sans-serif;
    color: white;
    align-content: flex-start;
    width: 300px;
    height: 400px;
}
.button {
    background-color: #6f6452; 
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* footer with contact info and social media buttons */
.footer {
    background-color:#3a2d32;
    position:relative;
    width: 100%;
    height: 200px;
    color: white;
    text-align: center;
    margin-top: 1px;
    padding: 10px;
}
.socialMediaButtons {
    display: inline-block;
}
/* attempted to use image to replace button, can't figure out how to make it work
#gitHub{
    background-image: url("../images/github.png");
}*/
.h3 { 
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* mobile query HW18*/
@media only screen and (max-width: 600){
    .skillContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
    }
    .workGrid{
        margin: 0px 5%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 100%;
        grid-template-areas:
                            'imageBox'
                            'houndDoogle'
                            'imageBox2'
                            'DotI'
                            'imageBox3'
                            'SoS';
    }
}